/* ====================================================== */
/* CSS for control sap.m/TileContainer.control            */
/* ====================================================== */

.sapMTC {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	overflow: hidden;

	/* IE Windows 8 */
	/* This elements receives events when not panning in vertial direction */
	touch-action: pan-y;
	-ms-touch-action: pan-y;
}

.sapMTC .sapMTCScrl {
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	overflow: visible;
}

.sapMTC:focus {
	outline: none;
}

.sapMTC .sapMTCCnt {
	height: 100%;
	width: 100%;
	overflow: visible;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}

.sap-tablet .sapMTC .sapMTCScrl,
.sap-phone .sapMTC .sapMTCScrl {
	padding: 0;
}

.sapMTC.sapMTCEditable .sapMTCCnt {
	opacity : 1;
}

.sapMTC .sapMTCCnt.sapMTCAnim {
	-webkit-transition-property: -webkit-transform3d;
	-webkit-transition-duration: 0.4s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 0.4s;
	transition-property: transform3d;
	transition-duration: 0.4s;
}

.sapMTC .sapMTCPager {
	position:absolute;
	bottom: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	height:30px;
	padding:5px;
	text-align:center;
}

.sapMTC .sapMTCPager SPAN {
	display: inline-block;
	background-color : lighten(@sapUiBase, 9.8);
	border-radius: 4px;
	height: 8px;
	width: 8px;
	margin-right:8px;
	margin-bottom:1px;
	cursor:default;
	box-shadow: 0px 0px 1px 1px @sapUiLightShadowTint;
}

.sapMTC .sapMTCBlind {
	background-color: @sapUiGroupContentBackground;
	opacity: 0.4;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	display:none;
	box-shadow: 0px 0px 5px 5px @sapUiLightShadowTint;
}

.sapMTC .sapMTCPager SPAN.sapMTCActive {
	background-color: @sapUiHighlight;
	box-shadow: 0px 0px 2px 2px @sapUiLightShadowTint;
}

.sapMTC .sapMTCScroller {
	position:absolute;
	display:none;
	top:41%;
	border-radius: 50%;
	background-color: sapUiInvertedElement;
	height: 48px;
	width: 48px;
	opacity:0;
	cursor: default;
	-webkit-transition-property: opacity, left, right;
	-webkit-transition-duration: 0.4s;
	-moz-transition-property: opacity, left, right;
	-moz-transition-duration: 0.4s;
	transition-property: opacity, left, right;
	transition-duration: 0.4s;
	-webkit-box-shadow: fade(@sapUiDarkShadowTint,30%) 0 0.0625rem 0.25rem;
	-moz-box-shadow: fade(@sapUiDarkShadowTint,30%) 0 0.0625rem 0.25rem;
	-ms-box-shadow: fade(@sapUiDarkShadowTint,30%) 0 0.0625rem 0.25rem;
	box-shadow: 0px 0.0625rem 0.25rem fade(@sapUiDarkShadowTint,30%);
	padding:4px;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.sapMTC .sapMTCScroller .sapMTCInner {
	background-color: @sapUiHighlight;
	height:100%;
	width:100%;
	border-radius: 50%;
	font-family:"SAP-icons";
	font-size: 21px;
	vertical-align:middle;
	color: @sapUiInvertedElement;
	padding-top: 8px;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.sapMTC:hover .sapMTCScroller {
	opacity:0.1;
}

.sapMTC:hover .sapMTCScroller:hover {
	opacity:1;
}

.sapMTC .sapMTCScroller.sapMTCLeft {
	left: -100px;
}

.sapMTC .sapMTCScroller.sapMTCLeft .sapMTCInner::before {
	content:"\e067";
	padding-left: 13px;
}

.sapMTC:hover .sapMTCScroller.sapMTCLeft {
	left: 1rem;
}

.sapMTC .sapMTCScroller.sapMTCRight {
	right: -100px;
}

.sapMTC:hover .sapMTCScroller.sapMTCRight {
	right: 1rem;
}

.sapMTC .sapMTCScroller.sapMTCRight .sapMTCInner::before {
	content:"\e066";
	padding-left: 16px;
}

.sapMTC .sapMTile, .sapMTC .sapMCustomTile {
	position:absolute;
	top:0px;
	left:0px;
}

html[dir=rtl] .sapMTC .sapMTile,
html[dir=rtl] .sapMTC .sapMCustomTile{
	left: auto;
	right: 0px;
}

.sap-tablet .sapMTC .sapMTCScroller, .sap-phone .sapMTC .sapMTCScroller {
	display : none;
}

.sapMTC .sapMTCRemove {
	display:none;
}

.sapMTC.sapMTCEditable .sapMTile {
	cursor: move;
	box-shadow: 0px 1px 5px fade(@sapUiDarkShadowTint,60);
}

.sapMTC.sapMTCEditable .sapMTile .sapMTCRemove {
	position: absolute;
	background-color: @sapUiElement;
	display:block;
	height:2rem;
	width:2rem;
	border-radius: 50%;
	font-family:"SAP-icons";
	font-size: 16px;
	color: @sapUiInvertedElement;
	line-height: 2rem;
	text-align: center;
	box-sizing:border-box;
	margin-top : -0.5rem;
	margin-left : -0.5rem;
	box-shadow: 0px 1px 3px fade(@sapUiDarkShadowTint,60);
	z-index:1;
	cursor:default;
}

html[data-sap-ui-browser^="ff"] .sapMTC.sapMTCEditable .sapMTile .sapMTCRemove {
	width: 2rem;
}

.sapMTC.sapMTCEditable .sapMTile .sapMTCNoRemove {
	height:24px;
	width:25px;
	margin-top : -0.5em;
	margin-left : -0.5em;
	z-index:1;
	visibility:hidden;
}

.sapMTC.sapMTCEditable .sapMTCRemove:hover {
	background-color: @sapUiHighlight;
}

.sapMTC.sapMTCEditable .sapMTCRemove:active {
	background-color: @sapUiHighlight;
}

.sapMTC.sapMTCEditable .sapMTCRemove::before {
	content:"\e03e";
}

/* use dir-specific rules to prevent mirroring in dir=rtl mode */
.sapMTC .sapMTCEdgeRight,
html[dir=rtl] .sapMTC .sapMTCEdgeLeft {
	position:absolute;
	top:0;
	right:0;
	width: 40px;
	height: 100%;
	border-right: 2px solid fade(lighten(@sapUiHighlight,20),60);
	opacity: 0.01;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(76%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

/* use dir-specific rules to prevent mirroring in dir=rtl mode */
.sapMTC .sapMTCEdgeLeft,
html[dir=rtl] .sapMTC .sapMTCEdgeRight {
	position:absolute;
	top:0;
	left:0;
	width: 40px;
	height: 100%;
	border-left: 2px solid fade(lighten(@sapUiHighlight,20),60);
	opacity: 0.01;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(24%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 24%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 24%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 24%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 24%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.sap-phone .sapMTC .sapMTCEdgeLeft,
.sap-phone .sapMTC .sapMTCEdgeRight {
	width: 20px;
}