/* ============================================== */
/* CSS for control sap.m/ToolbarSeparator.control */
/* ============================================== */

.sapMTBSeparator {
  width: 0.0625rem;
  height: 2rem;
}

.sapUiSizeCompact .sapMTBSeparator {
  height: 1.5rem;
}
