@media (min-width: 1280px) {
    .sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox {
        width: auto !important;
        margin-left: 0 !important;
        left: 0 !important;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.mioButton {
    margin-left: 50% !important;
}

.marginRight {
    margin-right: 5px !important;
}

.sap-desktop ::-webkit-scrollbar-thumb {
    background-color: #ababab;
}

html.sap-desktop ::-webkit-scrollbar-thumb,
html.sap-desktop ::-webkit-scrollbar-thumb:hover {
    background-color: #ababab
}

.marginExtra {
    margin-right: 37.5em !important;
}

.sapUiTableCell {
    padding-left: 0 !important;
}

.sapMFlexItem {
    margin-top: -2px !important;
}

[id*="pmSchedulingId--BlockLayout"].sapMFlexItem {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}

.sapUiTableColCell {
    text-align: center !important;
}

.miaIcona {
    font-size: 14px !important;
    margin-top: 15px !important;
    margin-left: 0 !important;
    width: auto !important;
    height: auto !important;
    color: red !important;
}

.classeM {
    color: red !important;
}

.sapMImg {
    margin-top: 10px;
}

.cellaTesto {
    font-family: monospace !important;
    font-size: 0.700rem !important;
}

span[data-mydata="1"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
    background-color: fuchsia !important;
}

span[data-mydata="2"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
}

span[data-mydata="3"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
    background-color: #FFFF33 !important;
}

span[data-mydata="confirmedClass"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
    background-color: greenyellow !important;
}

span[data-mydata="proposedClass"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
    background-color: yellow !important;
}

span[data-mydata="deletedClass"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
    background-color: red !important;
}

span[data-mydata="red"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
    background-color: red !important;
}

li[data-mydata="SI"] {
    background-color: #67f0003b !important;
}


/*
span[data-mydata="none"] {
    font-family: monospace !important;
    font-size: 0.700rem !important;
}
*/

.mioButton .sapMBtnContent {
    overflow: visible !important;
    margin-left: -0.8em !important;
    font-family: monospace;
    font-size: 1em !important;
}

.sapMLabel {
    font-family: monospace !important;
    font-size: 0.875rem !important;
    white-space: pre-wrap !important;
}

.fullDay .sapMBtnInner {
    background-color: mediumpurple;
    background-image: none;
    text-shadow: none;
}

.coloreCella {
    background-color: red !important;
    background-image: none;
    text-shadow: none;
}

.coloraTitolo {
    color: white;
    background-color: #1815C7 !important;
}

#Assign .sapMBtnContent,
#AssignMulti .sapMBtnContent,
#Assign .sapMBtnIcon,
#AssignMulti .sapMBtnIcon {
    color: mediumpurple;
}

#abroad .sapMBtnContent,
#abroadMulti .sapMBtnContent,
#abroad .sapMBtnIcon,
#abroadMulti .sapMBtnIcon {
    color: lightskyblue;
}

#notConfirmed .sapMBtnContent,
#notConfirmedMulti .sapMBtnContent,
#notConfirmed .sapMBtnIcon,
#notConfirmedMulti .sapMBtnIcon {
    color: dodgerblue;
}

#del .sapMBtnContent,
#delMulti .sapMBtnContent,
#del .sapMBtnIcon,
#delMulti .sapMBtnIcon {
    color: red;
}

#delHolidays .sapMBtnContent,
#delHolidaysMulti .sapMBtnContent,
#delHolidays .sapMBtnIcon,
#delHolidaysMulti .sapMBtnIcon {
    color: red;
}

#halfDay .sapMBtnContent,
#halfDayMulti .sapMBtnContent,
#halfDay .sapMBtnIcon,
#halfDayMulti .sapMBtnIcon {
    color: orange;
}

#attention .sapMBtnContent,
#attentionMulti .sapMBtnContent,
#attention .sapMBtnIcon,
#attentionMulti .sapMBtnIcon {
    color: red;
}

#wNonCons .sapMBtnContent,
#wNonConsMulti .sapMBtnContent,
#wNonCons .sapMBtnIcon,
#wNonConsMulti .sapMBtnIcon {
    color: chartreuse;
}

#wNonCust .sapMBtnContent,
#wNonCustMulti .sapMBtnContent,
#wNonCust .sapMBtnIcon,
#wNonCustMulti .sapMBtnIcon {
    color: lightgray;
}

#wCust .sapMBtnContent,
#wCustMulti .sapMBtnContent,
#wCust .sapMBtnIcon,
#wCustMulti .sapMBtnIcon {
    color: red;
}

#wCons .sapMBtnContent,
#wConsMulti .sapMBtnContent,
#wCons .sapMBtnIcon,
#wConsMulti .sapMBtnIcon {
    color: yellow;
}

#travel .sapMBtnContent,
#travelMulti .sapMBtnContent,
#travel .sapMBtnIcon,
#travelMulti .sapMBtnIcon {
    color: powderblue;
}

#bed .sapMBtnContent,
#bedMulti .sapMBtnContent,
#bed .sapMBtnIcon,
#bedMulti .sapMBtnIcon {
    color: lightcyan;
}

.fullDay .sapMBtnIcon,
.halfDay .sapMBtnIcon,
.wCust .sapMBtnIcon,
.wNonCons .sapMBtnIcon,
.wNonCust .sapMBtnIcon,
.wCons .sapMBtnIcon,
.del .sapMBtnIcon,
.travel .sapMBtnIcon,
.bed .sapMBtnIcon,
.notConfirmed .sapMBtnIcon,
.abroad .sapMBtnIcon {
    color: black;
}


/* inizio classi per i bottoni della paletta nella pagina di maria */

.travelPm .sapMSLIImgIcon,
.travelPm .sapMSLITitleOnly {
    color: powderblue !important;
}

.halfDayPm .sapMSLIImgIcon,
.halfDayPm .sapMSLITitleOnly {
    color: orange !important;
}

.wConsPm .sapMSLIImgIcon,
.wConsPm .sapMSLITitleOnly {
    color: yellow !important;
}

.fullDayPm .sapMSLIImgIcon,
.fullDayPm .sapMSLITitleOnly {
    color: mediumpurple !important;
}

.wNonConsPm .sapMSLIImgIcon,
.wNonConsPm .sapMSLITitleOnly {
    color: chartreuse !important;
}

.wCustPm .sapMSLIImgIcon,
.wCustPm .sapMSLITitleOnly {
    color: red !important;
}

.wNonCustPm .sapMSLIImgIcon,
.wNonCustPm .sapMSLITitleOnly {
    color: lightgray !important;
}

.notConfirmedPm .sapMSLIImgIcon,
.notConfirmedPm .sapMSLITitleOnly {
    color: dodgerblue !important;
}

.bedPm .sapMSLIImgIcon,
.bedPm .sapMSLITitleOnly {
    color: lightcyan !important;
}

.abroadPm .sapMSLIImgIcon,
.abroadPm .sapMSLITitleOnly {
    color: lightskyblue !important;
}


/* fine classi per i bottoni della paletta nella pagina di maria */

.halfDay .sapMBtnInner {
    background-color: orange;
    background-image: none;
    text-shadow: none;
}

.attention .sapMBtnInner {
    background-color: red;
    background-image: none;
    text-shadow: none;
}

.wCust .sapMBtnInner {
    background-color: red;
    background-image: none;
    text-shadow: none;
}

.wCons .sapMBtnInner {
    background-color: yellow;
    background-image: none;
    text-shadow: none;
}

.wNonCons .sapMBtnInner {
    background-color: chartreuse;
    background-image: none;
    text-shadow: none;
}

.wNonCust .sapMBtnInner {
    background-color: lightgray;
    background-image: none;
    text-shadow: none;
}

.notConfirmed .sapMBtnInner {
    background-color: dodgerblue;
    background-image: none;
    text-shadow: none;
}

.travel .sapMBtnInner .sapMBtnIconFirst {
    background-color: powderblue;
    background-image: none;
    text-shadow: none;
}

.bed .sapMBtnInner {
    background-color: lightcyan;
    background-image: none;
    text-shadow: none;
}

.abroad .sapMBtnInner {
    background-color: lightskyblue;
    background-image: none;
    text-shadow: none;
}

.del .sapMBtnInner {
    background-color: red;
    background-image: none;
    text-shadow: none;
}

.sapMTileContent:active {
    background-color: blue;
}

.iconColumns {
    width: 2.75rem;
}

#changePasswordId--linkChangePass {
    width: 100%;
    margin-left: 45%;
}

.sapMShellBrandingBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
    background-color: blue !important;
}

#pmSchedulingId--idInputOreTotali-inner,
#pmSchedulingId--idSelectPeriodo.sapMComboBoxTextField,
#pmSchedulingId--idSelectCommessa.sapMComboBoxTextField,
#pmSchedulingId--idSelectPriorita.sapMComboBoxTextField,
#pmSchedulingId--idSelectPriorita2.sapMComboBoxTextField,
#PmModifyRequestId--idSelectPeriodo.sapMComboBoxTextField,
#PmModifyRequestId--idSelectCommessa.sapMComboBoxTextField,
#pmSchedulingDraftId--idSelectPeriodo.sapMComboBoxTextField,
#pmSchedulingDraftId--idSelectCommessa.sapMComboBoxTextField,
#SeePjmSchedulingId--idSelectPeriodo.sapMComboBoxTextField,
#SeePjmSchedulingId--idSelectCommessaSeeAll.sapMComboBoxTextField,
#UmSchedulingId--idSelectPeriodo.sapMComboBoxTextField,
#UmSchedulingId--idSelectCommessa.sapMComboBoxTextField,
#UmSchedulingWriteId--idSelectPeriodo.sapMComboBoxTextField,
#UmReportDraftId--idSelectPeriodoReportDraft.sapMComboBoxTextField,
#AdministratorSchedulingId--idSelectPeriodo.sapMComboBoxTextField,
#AdministratorSchedulingId--idSelectCommessa.sapMComboBoxTextField,
#AdministratorSchedulingWriteId--idSelectPeriodo.sapMComboBoxTextField,
#AdministratorSchedulingReadOnlyId--idSelectPeriodo.sapMComboBoxTextField,
#AdministratorSchedulingReadOnlyId--idSelectCommessa.sapMComboBoxTextField,
#HolidaysSchedulingId--idSelectPeriodo.sapMComboBoxTextField,
#HolidaysSchedulingId--idSelectBu.sapMComboBoxTextField,
#AnalisiCapacitaRisorseId--idSelectPeriodoAnalisiCapacita.sapMComboBoxTextField,
#AnalisiDisponibilitaRisorseId--idSelectPeriodoAnalisiDisponibilita.sapMComboBoxTextField,
#VacationRequestsListRequestId--idSelectPeriodo.sapMComboBoxTextField,
#officialSchedulingId--idSelectPeriodo.sapMComboBoxTextField,
#officialSchedulingId--idSelectCommessa.sapMComboBoxTextField,
#FinalSchedulingAllId--idSelectPeriodo.sapMComboBoxTextField,
#FinalSchedulingAllId--idSelectCommessa.sapMComboBoxTextField {
    border: none !important;
}


/* home page */

.pageClass {
    background-color: white;
    background: url("../img/9.jpg") center no-repeat;
    background-size: 100% auto;
}

.pageClassLaunchpad {
    background: url("../img/9.jpg") center no-repeat;
}


/* masterList Projects */

.spostaDxGiuObliquo {
    margin-left: 15px;
    margin-top: 10px;
    font-style: italic;
}

.spostaSxGiuBold {
    margin-right: 15px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: right;
}

.spostaSxGiuStaff {
    margin-right: 15px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 0.9em;
    text-align: right;
}

.spostaSxSuBoldSizeNormal {
    margin-right: 15px;
    margin-top: 7px;
    font-weight: bold;
    text-align: right;
}

.spostaSxSuBoldUltimoElemento {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.spostaDxSuObliquoUltimoElemento {
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
}

.administratorDialog {
    min-width: 15rem !important;
}

.listaRichieste {
    background-color: #f7f7f7 !important;
}


/* tile */

.tileClass {
    background-color: rgba(245, 245, 245, 0.7) !important;
    border-color: darkblue;
}

div[id*="container-4"] .tileClass {
    background-color: blanchedalmond !important;
}

#__tile0-launchpadId--containerSchedulazione-0-title,
#__tile0-launchpadId--containerSchedulazione-1-title,
#__tile0-launchpadId--containerSchedulazione-2-title,
#__tile0-launchpadId--containerSchedulazione-3-title,
#__tile0-launchpadId--containerSchedulazione-4-title,
#__tile0-launchpadId--containerSchedulazione-5-title,
#__tile0-launchpadId--containerSchedulazione-6-title,
#__tile0-launchpadId--containerSchedulazione-7-title,
#__tile0-launchpadId--containerSchedulazione-8-title,
#__tile0-launchpadId--containerSchedulazione-9-title,
#__tile0-launchpadId--containerSchedulazione-10-title,
#__tile1-launchpadId--containerAnagrafiche-0-title,
#__tile1-launchpadId--containerAnagrafiche-1-title,
#__tile1-launchpadId--containerAnagrafiche-2-title,
#__tile1-launchpadId--containerAnagrafiche-3-title,
#__tile1-launchpadId--containerAnagrafiche-4-title,
#__tile1-launchpadId--containerAnagrafiche-5-title,
#__tile1-launchpadId--containerAnagrafiche-6-title,
#__tile1-launchpadId--containerAnagrafiche-7-title,
#__tile1-launchpadId--containerAnagrafiche-8-title,
#__tile1-launchpadId--containerAnagrafiche-9-title,
#__tile1-launchpadId--containerAnagrafiche-10-title,
#__tile2-launchpadId--containerFerie-0-title,
#__tile2-launchpadId--containerFerie-1-title,
#__tile2-launchpadId--containerFerie-2-title,
#__tile2-launchpadId--containerFerie-3-title,
#__tile3-launchpadId--containerAll-0-title,
#__tile3-launchpadId--containerAll-1-title,
#__tile3-launchpadId--containerAll-2-title,
#__tile3-launchpadId--containerAll-3-title,
#__tile3-launchpadId--containerAll-4-title,
#__tile0-launchpadId--containerSchedulazione-0-img,
#__tile0-launchpadId--containerSchedulazione-1-img,
#__tile0-launchpadId--containerSchedulazione-2-img,
#__tile0-launchpadId--containerSchedulazione-3-img,
#__tile0-launchpadId--containerSchedulazione-4-img,
#__tile0-launchpadId--containerSchedulazione-5-img,
#__tile0-launchpadId--containerSchedulazione-6-img,
#__tile0-launchpadId--containerSchedulazione-7-img,
#__tile0-launchpadId--containerSchedulazione-8-img,
#__tile0-launchpadId--containerSchedulazione-9-img,
#__tile0-launchpadId--containerSchedulazione-10-img,
#__tile1-launchpadId--containerAnagrafiche-0-img,
#__tile1-launchpadId--containerAnagrafiche-1-img,
#__tile1-launchpadId--containerAnagrafiche-2-img,
#__tile1-launchpadId--containerAnagrafiche-3-img,
#__tile1-launchpadId--containerAnagrafiche-4-img,
#__tile1-launchpadId--containerAnagrafiche-5-img,
#__tile1-launchpadId--containerAnagrafiche-6-img,
#__tile1-launchpadId--containerAnagrafiche-7-img,
#__tile1-launchpadId--containerAnagrafiche-8-img,
#__tile1-launchpadId--containerAnagrafiche-9-img,
#__tile1-launchpadId--containerAnagrafiche-10-img,
#__tile2-launchpadId--containerFerie-0-img,
#__tile2-launchpadId--containerFerie-1-img,
#__tile2-launchpadId--containerFerie-2-img,
#__tile2-launchpadId--containerFerie-3-img,
#__tile3-launchpadId--containerAll-0-img,
#__tile3-launchpadId--containerAll-1-img,
#__tile3-launchpadId--containerAll-2-img,
#__tile3-launchpadId--containerAll-3-img,
#__tile0-launchpadId--container-0-title,
#__tile0-launchpadId--container-1-title,
#__tile0-launchpadId--container-2-title,
#__tile0-launchpadId--container-3-title,
#__tile0-launchpadId--container-4-title,
#__tile0-launchpadId--container-5-title,
#__tile0-launchpadId--container-6-title,
#__tile0-launchpadId--container-7-title,
#__tile0-launchpadId--container-8-title,
#__tile0-launchpadId--container-9-title,
#__tile0-launchpadId--container-10-title,
#__tile0-launchpadId--container-11-title,
#__tile0-launchpadId--container-12-title,
#__tile0-launchpadId--container-13-title,
#__tile0-launchpadId--container-14-title,
#__tile0-launchpadId--container-15-title,
#__tile0-launchpadId--container-16-title,
#__tile0-launchpadId--container-17-title,
#__tile0-launchpadId--container-18-title,
#__tile0-launchpadId--container-19-title,
#__tile0-launchpadId--container-20-title,
#__tile0-launchpadId--container-21-title,
#__tile0-launchpadId--container-22-title,
#__tile0-launchpadId--container-23-title,
#__tile0-launchpadId--container-24-title,
#__tile0-launchpadId--container-0-img,
#__tile0-launchpadId--container-1-img,
#__tile0-launchpadId--container-2-img,
#__tile0-launchpadId--container-3-img,
#__tile0-launchpadId--container-4-img,
#__tile0-launchpadId--container-5-img,
#__tile0-launchpadId--container-6-img,
#__tile0-launchpadId--container-7-img,
#__tile0-launchpadId--container-8-img,
#__tile0-launchpadId--container-9-img,
#__tile0-launchpadId--container-10-img,
#__tile0-launchpadId--container-11-img,
#__tile0-launchpadId--container-12-img,
#__tile0-launchpadId--container-13-img,
#__tile0-launchpadId--container-14-img,
#__tile0-launchpadId--container-15-img,
#__tile0-launchpadId--container-16-img,
#__tile0-launchpadId--container-17-img,
#__tile0-launchpadId--container-18-img,
#__tile0-launchpadId--container-19-img,
#__tile0-launchpadId--container-20-img,
#__tile0-launchpadId--container-21-img,
#__tile0-launchpadId--container-22-img,
#__tile0-launchpadId--container-23-img,
#__tile0-launchpadId--container-24-img {
    color: darkblue;
    font-weight: 600 !important;
}

.buttonShowPass {
    width: 20px !important;
    margin-left: 2px !important;
}

.sapMPanelBGTranslucent {
    background-color: transparent !important;
}

#AssignMulti,
#halfDayMulti,
#wConsMulti,
#wNonConsMulti,
#wCustMulti,
#wNonCustMulti,
#notConfirmedMulti,
#abroadMulti,
#delMulti {
    margin: 2px !important;
}

colorAssignMulti {}


/* classi per il menù per la schedulazione */

li[data-colorRiga="accept"] {
    background-color: mediumpurple !important;
}

li[data-colorRiga="time-entry-request"] {
    background-color: orange !important;
}

li[data-colorRiga="customer-and-contacts"] {
    background-color: yellow !important;
}

li[data-colorRiga="employee-rejections"] {
    background-color: chartreuse !important;
}

li[data-colorRiga="collaborate"] {
    background-color: red !important;
}

li[data-colorRiga="offsite-work"] {
    background-color: lightgray !important;
}

li[data-colorRiga="role"] {
    background-color: dodgerblue !important;
}

li[data-colorRiga="globe"] {
    background-color: lightskyblue !important;
}


div[data-colorRiga="complete"] {
    color: mediumpurple !important;
}

div[data-colorRiga="time-entry-request"] {
    color: orange !important;
}

div[data-colorRiga="customer-and-contacts"] {
    color: yellow !important;
}

div[data-colorRiga="employee-rejections"] {
    color: chartreuse !important;
}

div[data-colorRiga="collaborate"] {
    color: red !important;
}

div[data-colorRiga="offsite-work"] {
    color: lightgray !important;
}

div[data-colorRiga="role"] {
    color: dodgerblue !important;
}

div[data-colorRiga="globe"] {
    color: lightskyblue !important;
}

div[data-colorRiga="travel-itinerary"] {
    color: powderblue !important;
}

div[data-colorRiga="bed"] {
    color: lightcyan !important;
}

/* fine classi per menù schedulazioni */


/* classi per colorare le scritte delle commesse in conflitto */

li[data-scrittaCommesseConflitti="STANDBY"] {
    color: green !important;
}

li[data-scrittaCommesseConflitti="CONFIRMED"] {
    color: lightgray !important;
}


/* fine classi per colorare le scritte delle commesse in conflitto */


/* classi per colorare le scritte delle commesse in proposta */

li[data-scrittaCommesseConflitti="OVERTURE"] {
    color: darkmagenta !important;
    background-color: yellow !important;
}

.EXassign {
    background-color: mediumpurple !important;
}

.EXhalfDay {
    background-color: orange !important;
}

.EXwCons {
    background-color: yellow !important;
}

.EXwNonCons {
    background-color: chartreuse !important;
}

.EXwCust {
    background-color: red !important;
}

.EXwNonCust {
    background-color: lightgray !important;
}

.EXnotConfirmed {
    background-color: dodgerblue !important;
}

.EXabroad {
    background-color: lightskyblue !important;
}

.EXtravel {
    background-color: powderblue !important;
}

.EXbed {
    background-color: lightcyan !important;
}

div[data-colorRow="Interni"] {
    background-color: #FFFFFF !important;
}

div[data-colorRow="Esterni"] {
    background-color: #00CC00 !important;
}

div[data-colorRow="Diligent"] {
    background-color: #FFFF33 !important;
}

div[data-colorRow="Altevie"] {
    background-color: #FF6600 !important;
}

div[data-colorRow="Espedia"] {
    background-color: #FF33FF !important;
}

div[data-colorRow="Regesta"] {
    background-color: #FF6600 !important;
}

div[data-colorRow="Altitudo"] {
    background-color: #FF6600 !important;
}

sdivpdivan[data-colorRow="Ekr"] {
    background-color: #FF6600 !important;
}

div[data-colorRow="PWC"] {
    background-color: #FF6600 !important;
}

tr[data-statusColor="1"] {
    background-color: #80c1ff !important;
}

tr[data-statusColor="2"] {
    background-color: red !important;
}

.redColor {
    color: blue;
    font-size: 1.2em !important;
    font-family: sans-serif !important;
}

.buttonWidth {
    width: 12rem;
}

span[data-mydata="boldSkill"] {
    font-weight: 600 !important;
}

span[data-mydata="normalSkill"] {
    font-weight: normal !important;
}

.marginLeft10 {
    margin-left: 10%;
}


/* header */

.headerBar {
    background-color: white !important;
}

.headerText {
    font-family: sans-serif !important;
    font-size: 1.2em !important;
    white-space: pre-wrap !important;
}

.headerTextPath {
    font-family: sans-serif !important;
    font-size: 1.2em !important;
    color: blue !important;
    white-space: pre-wrap !important;
}

.noSpace {
    white-space: nowrap !important;
}

div[id*="SeePjmSchedulingId--BlockLayoutSeeAll"]>div {
    width: 500px !important;
}

input[id*="SeePjmSchedulingId--idSelectPeriodo-inner"].sapMComboBoxTextFieldInnerWidthExtraPadding:not(.sapMComboBoxTextFieldInnerReadonly) {
    padding-right: 5rem;
    margin-right: 4rem;
}

[id*="idPageCapacitaDisponibilitaRisorse"]>div>div.sapUiFixFlexFixed {
    height: calc(100% - 50px) !important;
}

tr[data-colorRichieste=""] {
    background-color: #86b3ff63 !important;
}