.sapMConditionPanel .sapUiRespGridMedia-Std-Phone .floatRight {
	float: right;
}

.sapMConditionPanel .displayNone {
	display: none;
}

.sapMConditionPanel .conditionRootGrid > div + div .sapUiRespGridMedia-Std-Tablet {
	margin-top: 1rem;
}

.sapMConditionPanel .conditionRootGrid > div + div .sapUiRespGridMedia-Std-Phone {
	margin-top: 1rem;
}

.sapMConditionPanel .conditionAddBtnFloatRight {
	float: right;
}

.sapUiSizeCompact .sapMConditionPanel .conditionLabel {
	margin-top: 0.5rem;
}

.sapMConditionPanel .conditionLabel {
	margin-top: 1rem;
}

.sapMConditionPanel > div {

}

.sapMConditionPanelContent {

}

.sapMConditionPanel .sapMCb {
	display: block;
}


.sapMConditionPanel .sapMTB {
    border-bottom: 0px; 
}

.sapMFilterPanel .sapMPanelWrappingDivTb {
    border-bottom: 0px;
}

.sapMFilterPanel .sapMTB  {
    border-bottom: 0px;
}