/* ============================================== */
/* CSS for control sap.m/ToolbarSeparator.control */
/* ============================================== */

.sapMTBSeparator {
	background: @sapUiToolbarSeparatorColor;
}

.sapMFooter-CTX > .sapMTBSeparator {
	background: @sapHCStandardFG;
}
